@charset "utf-8";

/*reset*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main font & style*/
body,html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
    line-height: 1.7rem;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/*utlility Class*/

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 0px;
}

.text-center{
    text-align: center;
}

.bg-dark{
    background-color: dimgray;
}

.red{
    color: tomato;
}

.bg-primary{
    background-color:transparent;
    border-color: black;
}

.text-dark{
    color: black;
}

.text-white{
    color: whitesmoke;
}

.clear{
    clear: both;
}

/*navabar*/

.navbar {
    padding: 10px 0;
}
.navbar .nav-links{
    display: flex;
    justify-content: space-between;
}

.navbar .nav-links .brand a{
    font-size: 1.5rem;
    color: whitesmoke;
}

.navbar .nav-links .brand a:hover{
    color: tomato;
}
.navbar .nav-links ul li{
    display: inline-block;
    padding: 0 8px;
}

.navbar .nav-links .links ul li a:hover{
    color: tomato;
    text-decoration-line: underline;
}

/*showcase*/


.showcase{ 
    height: 695px;
    background: url('../images/tianjin.jpg') no-repeat
     center center/cover;
     opacity: 0.9;
}

.showcase .showcase-text{
    padding: 90px;
}

.showcase .subhead{
    font-size: 1.2rem;
    font-style: italic;
    padding: 30px 0;
    text-shadow: 1px 1px 1px #ffffff;
    font-weight: 600;
}


.showcase .showcase-text .mashead{
    font-size: 1rem;
    font: 700;
    padding: 35px 0;
    text-transform: uppercase;
    color: white;
}

.showcase .showcase-text button{
    font-size: 0.5rem;
    margin-top: 20px;
    border-radius: 20%;
    padding: 12px; 
}

.showcase .showcase-text button:hover{
    background-color: tomato;
}


.showcase .showcase-text button{
    font-size: 1.0rem;
    margin-top: 20px;
    border-radius: 5px;
    padding: 12px;
}


/* Services  */
.services ,
.portfolio,
.contact{
    margin-top: 100px;
}

.services h2 , 
.contact h2{
    font-size: 3rem;
}

.services .row{
    display: flex;
    margin-top: 50px;
}

.services .row .col{
    padding: 20px;
}

.services .row .col .icon i{
    padding: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

.services .row .col h3{
    margin: 25px 0;
    font-size: 2rem;
}

/* About  */

.about{
    padding: 85px;
    margin-top: 25px;
    background-image: url("../images/new-york-city-336475_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about .container p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container h2 {
  font-size: 1.5rem;
  text-decoration-line: underline;
  text-decoration-color: tomato;
}

.about button{
    margin-top: 20px;
    padding: 16px;
    background: tomato;
    color: #2f2f2f;
    border: none;
    font-size: 15px;
    border-radius: 40px;
}

.about button:hover{
    background-color: #fff;
}

/* work  */
.work h2{
 font-size: 1.4rem;
 text-decoration-line: underline;
 text-decoration-color: tomato;
}

.work .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work p{
    margin: 20px 0 45px 0;
}

.work .row .col{
    margin: -1px 0;
}

.work .row .col img:hover{
    opacity: .8;
}

.work button{
    font-size: 0.5rem;
    margin-top: 20px;
    border-radius: 20%;
    padding: 12px; 
}

/* Contact */
.contact p{
    margin-bottom: 40px;
}
.contact .row{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}
.contact .row .col a{
    color: #2f2f2f;
}
.contact .row .col .mail:hover{
    color: #FED136;
    text-shadow: .5px .5px 1px #FED136;
}

/*footer*/

footer{
    padding: 20px;
    margin-top: 20px;
}